testFiles

build/CMakeFiles
build/log
build/output
build/lheFiles
build/CMakeCache.txt
build/Makefile
build/cmake_install.cmake
build/liblibgen.so
build/fdgen
build/boxgen
build/*.root
build/*.tx
build/*.lhe
build/*_C*
build/submitJob.con
build/CMakeFiles/
build/CMakeCache.txt
build/Makefile
build/cmake_install.cmake
*.out
*.lhe
*.tx
*.root
*.tar.gz
*.so
*.d
*.pcm
EOF
